.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.App {
  margin-top: 2em;
  width: 400px;
  text-align: center;
  border: 3px solid #e8e8e8;
  border-radius: 5px;
  padding: 1em 0;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.bg-image{
  width:100%;
}
