.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.App {
  margin-top: 2em;
  width: 400px;
  text-align: center;
  border: 5px solid blue;
  padding: 1em 0;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

